<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div id="app">
        <h1>5e Characters</h1>
        <p>
            <span>Race: </span>
            <select v-model="raceSelection" @change="fetchSubraces">
                <option disabled value="">Choose a race</option>
                <option v-for="myRace in myRaces" v-text="myRace.name"></option>
            </select>
            <span>Selected: {{ raceSelection }}</span>
        </p>
        <p>
            <span>Sub-race: </span>
            <select v-model="subraceSelection">
                <option disabled value="">Choose a sub-race</option>
                <option v-for="mySubrace in mySubraces" v-text="mySubrace.name"></option>
            </select>
            <span>Selected: {{ raceSelection }}</span>
        </p>
        <p>
            <span>Class: </span>
            <select v-model="classSelection">
                <option disabled value="">Choose a class</option>
                <option v-for="myClass in myClasses" v-text="myClass.name"></option>
            </select>
            <span>Selected: {{ classSelection }}</span>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script text="type/javascript" src="script.js"></script>

</body>

</html>
